<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="utf-8">
    <title>Super Héros !</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--Sert à faire des requêtes HTTP, "get" par exemple -->
    <script src="https://unpkg.com/axios@latest"></script>
</head>
<body>

    <div id="app">

        <div id="navbar-placeholder"></div>

        <h1 class="my-4">Liste des superhéros</h1>

        <input type="text" placeholder="Rechercher par Nom..." v-model="searchQuery"/>

        <button @click="resetSearch" class="btn btn-primary">Réinitialiser</button>

        <ul class="list-group">
            <li class="list-group-item-action border d-flex w-100 justify-content-between" 
            v-for="hero in filteredSuperheros" 
            :key="hero.id">

                <h5 class="my-4 ms-3">{{ hero.name }}</h5> 

                <img :src="hero.images.md" 
                alt="image de super heros" 
                class="rounded-circle my-2" 
                style="width: 60px; height: 80px;
                cursor: pointer;"
                @click="goToDetail(hero.id)"/>

                <div class="me-3 text-end">
                    <input type="checkbox" v-model="hero.showStats" class="me-1" />
                    
                    <div v-if="!hero.showStats">
                        <label>Afficher les pouvoirs</label>
                    </div>

                    <div v-else>
                        <ul class="mb-0 text-start">
                            <li v-for="(value, key) in hero.powerstats" :key="key">
                                {{translations[key] || key}} : {{ value }}
                            </li>
                        </ul>
                    </div>

                </div>
                <small class="me-3">{{ hero.id }}</small> 
            </li>
        </ul>

    </div>
    
    <script>
        const app = Vue.createApp({
            data(){
                return{
                    superheros: [],
                    searchQuery:"",
                    translations: {
                        strength: "Force",
                        power: "Puissance",
                        speed: "Vitesse",
                        durability: "Endurance",
                        combat: "Combat",
                        intelligence: "Intelligence"
                    }
                };
            },

            computed: {
                filteredSuperheros() {
                    const query = this.searchQuery.trim().toLowerCase();
                    return this.superheros.filter(hero =>
                        hero.name.toLowerCase().includes(query)
                    );
                }
            },

            methods:{
                resetSearch(){
                    this.searchQuery=" ";
                },
                goToDetail(id){
                window.location.href = `detail.html?id=${id}`;
                }
            },

            
            
            mounted() {
            axios.get('https://cdn.jsdelivr.net/gh/rtomczak/superhero-api@0.3.0/api/all.json')
                .then(response => {
                    this.superheros = response.data.map(hero => 
                    ({...hero, 
                        showStats: false
                    }));
                });
            }
        });

        app.mount("#app");
    </script>

    <script>
        fetch('navbar.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('navbar-placeholder').innerHTML = data;
                // Recharge manuellement le JS de Bootstrap après avoir injecté le HTML
                const script = document.createElement('script');
                script.src = 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js';
                document.body.appendChild(script);
            })
            .catch(error => {
                console.error('Erreur:', error);
            });
    </script>

</body>
</html>